.card-group{
    padding-left: 10px;
    padding-right: 10px;
 }
 .card-img-top{
     height: 50px;
     width: 50px;
     /* display: flex; 
     margin:auto;*/
     position: center;
 }
 .card-img{
    height: 120px;
    width: 120px;
     display: flex; 
    margin:auto;
    position: center;
}
.card-title{
    text-align: center;
}
.btn btn-primary{
    
}
#prod-card-img{
    height: 150px;
    width: 150px;
     display: flex; 
    margin:auto;
    position: center;
    object-fit: cover;
}
CardGroup{
    padding: 5px;
}
Card{
    height: 150px;
    width: 150px;
    padding: 5px;
}
.card-prod{
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}