.card-group{
    padding-left: 10px;
    padding-right: 10px;
 }
 .card-img-top{
     height: 50px;
     width: 50px;
     /* display: flex; 
     margin:auto;*/
     position: center;
 }
 .card-img{
    height: 120px;
    width: 120px;
     display: flex; 
    margin:auto;
    position: center;
    object-fit: cover;
}
.card-title{
    text-align: center;
}
.btn btn-primary{
    
}
#prod-card-img{
    height: 150px;
    width: 150px;
     display: flex; 
    margin:auto;
    position: center;
    /* object-fit: cover; */
}

.container-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.container-img img{
    /* display: block;
    margin: auto;
    height: auto;
    max-height: 250px;
    width: auto;
    max-width: 250px;
    border-radius: 20px;
    object-fit: cover; */
    /* border-radius: 5px;*/
   height: 180px;
    width: 80%;
    object-fit: cover; 
}
CardGroup{
    padding: 5px;
}
Card{
    height: 150px;
    width: 150px;
    padding: 5px;
}
.card-prod{
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}