#container{
    padding: 10px;
}
#container-main{
    display: flex;
}
#card-form{
    width: 500px;
}
#card-info{
    width: 500px;
}
#container-main{
    padding-left: 10px;
    padding-right: 10px;
 }
 #card-form{
    padding-left: 10px;
    padding-right: 10px;
 }
 #frame-maps{
    /* width: 650px;*/
    height: 300px ; 
 }
 #card-contacto{
  padding-left: 10px;
 }
 .card-mapa{
    padding-right: 10px;
 }
 /* @media (max-width: 600px) {
	#frame-maps {
        width:250px;
        height: 250px; 
	}

}
 @media (max-width: 812px) {
	#frame-maps {
        width:250px;
        height: 250px; 
	}

}
@media (min-width: 1384px) {
	#frame-maps {
        width:650px;
        height: 400px; 
	}

} */