#jumbotron{
    /* display: flex;
  justify-content: center;*/
  /* height: 300px;
    width: 100%; 
    color: blue; */
}
Carousel{
    /* height: 400px;
    width: auto; */
}
.carousel-item{
  height: auto;
}
