#footer{
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: rgb(238, 224, 30);
}
#logo-footer{
    width: 150px;
    height: 150px;
}
#footer-3{

}
#footer-3 img{
    width: 50px;
    padding: 1.5px;
}
#icon-whatsapp{
    height: 25px;
    width: 25px;
  }
  #icon-ubicacion{
    height: 25px;
    width: 25px;
  }
  #icon-mail{
    height: 25px;
    width: 25px;
  }
  #container-icon-whatsapp{
    display: flex;
    /* align-items:center; */
  }
  .customSpan {
    margin:0 0 4px 4px;  
    /* margin:0 0 0 0;   */
  }
  #container-icon-ubicacion{
    display: flex;
    /* align-items:center; */
  }
  #container-icon-mail{
    display: flex;
    /* align-items:center; */
  }
  #titulo-footer{
    display: flex;
  }