.container-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.container-img img{
    border-radius: 20px;
   height: 180px;
    width: 80%;
    object-fit: cover;
}
